# IDEs
.idea

# pnpm
pnpm-lock.yaml

# tests
**/data/test/
**/data/unit-test/
**/data/integration-test/
**/custom-data/test/
__snapshots__

# vitepress
packages/docs/.vitepress/cache
packages/docs/.vitepress/dist
