name: CI pipeline

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

env:
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  check:
    name: Run CI checks
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2025]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.20.0
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run CI script
        run: pnpm turbo run ci

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: vitest-reports-${{ matrix.os }}
          path: packages/*/coverage/
          retention-days: 3

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-reports-${{ matrix.os }}
          path: packages/*/playwright-report/
          retention-days: 3
